<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Home</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/assets/style.css">
   <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
   <script src="/assets/weather.js"></script>
   <script>

   </script>
</head>
<body>
  <nav class="navbar container  navbar-expand-lg navbar-light " id="nav">
   <a class="navbar-brand" href="/about">
    <img class="img" src="assets/pic.png"  height="100%" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ac">
        <li class="nav-item active">
        <a class="nav-link" id="goTo" href="./about">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">College Chapters<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Councils <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">International youth forums<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Contact Us<span class="sr-only">(current)</span></a>
      </li>
     </ul>
   <form class="form-inline" action="https://www.google.com/search" method="GET">
      <input class="form-control mr-sm-2" name="q"  type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="container home-image">
   <p class="image-para">Centre for Policy Research (CPR)</p>
</div>

<div class="container bodyContent">
   <div class="row">
      <div class="col-sm-9 left-body" >
        <h4 class="welcome"><font color="red">WELCOME TO</font> TO GLOBAL YOUTH INDIA</h4>
        <p>Global Youth is an apolitical, not-for-profit organisation looking to empower youth ambassadors for a global generation.
Global Youth looks to bring young minds a worldwide perspective and make the youth active, insightful and vibrant participants in creating a vision for where India stands in a globalised generation. The organisation provides a hub for the youth to connect to the worlds of foreign policy, diplomacy and global affairs to create a young energetic base for the next generation of global thinkers and global leaders. 

This is a forum to give young people an exposure to careers in international organisations, put young minds in tune with the realities and ideals of a global outlook and make young voices matter. Global Youth looks to demystify the world of diplomacy and foreign affairs, connect young Indians to visions & ideas from other countries and engage the youth in taking on the challenges of a globalised world. 

This is where India’s youth work towards a forum for ideas, visions and dialogue needed to build and secure a base of informed opinion & debate that can and must sustain foreign policy formulation in the future. Global Youth is where you become the gamechangers on how foreign policy and India’s place in the world is understood and perceived. This is where your curiosity, your fresh perspective and your ideas put India and the world in sync.

</p>
      </div>
    <div class="col-sm-3 right-body" id="">
 <a class="twitter-timeline" data-width="400" data-height="500" href="https://twitter.com/globalyouthind?ref_src=twsrc%5Etfw">Tweets by globalyouthind</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>  

</div>



<footer class="container footer">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
          harum esse fugiat. Itaque, culpa?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="">Global Youth</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>